.title {
  font-family: var(--font-primary);
  font-style: var(--style-primary);
  font-weight: var(--weight-title);

  font-size: var(--size-title);
  line-height: var(--line-height-title);

  color: var(--color-primary);

  @include media('lg') {
    font-size: var(--size-lg-title);
    line-height: var(--line-height-lg-title);
  }
}