// Contains variables, config switches, and other project-wide settings.

// Colors
$colors: (
        'primary': #C09342,
        'bg-primary': #102b2a,
        'title': #FFFFFF,
        'title-accent': var(--color-primary),
        'text': #FFFFFF,
);

// Typography
$typography: (
        'font': (
                'primary': 'Crimson Text, serif',
                'secondary': 'Josefin Sans, sans'
        ),
        'style': (
                'primary': normal
        ),
        'weight': (
                'title': 400,
                'text': 300
        ),
        'size': (
                'title': 30px,
                'title-about-us': 25px,
                'title-about-us-label': 50px,
                'title-about-us-sub': 32px,
                'title-hero': 25px,
                'text': 10px
        ),
        'line-height': (
                'title': 20px,
                'title-about-us': 30px,
                'title-about-us-label': 50px,
                'title-about-us-sub': 42px,
                'title-hero': 28px,
                'text': 18px
        )
);

// Responsive Typography
$breakpoint-suffixes: ('sm', 'md', 'lg', 'xl', 'xxl');
$responsive-typography: (
        'size': (
                'sm': (
                        'title-hero': 40px
                ),
                'md': (
                        'title-hero': 55px
                ),
                'lg': (
                        'title': 80px,
                        'title-about-us': 60px,
                        'text': 16px
                ),
                'xxl': (
                        'title-hero': 70px,
                        'title-about-us-label': 110px,
                )
        ),
        'line-height': (
                'sm': (
                        'title-hero': 40px
                ),
                'md': (
                        'title-hero': 60px
                ),
                'lg': (
                        'title': 100%,
                        'title-about-us': 74px,
                        'text': 24px
                ),
                'xxl': (
                        'title-hero': 80px,
                        'title-about-us-label': 128px,
                )
        )
);

// Breakpoints (using Bootstrap's default breakpoints)
$breakpoints: (
        'sm': 576px,
        'md': 768px,
        'lg': 992px,
        'xl': 1200px,
        'xxl': 1400px,
        '3xl': 1700px
);

// Container Padding
$container-padding: 0 15px;

:root {
  // Header
  --header-height: 0px; // Default
  // Colors
  @each $name, $value in $colors {
    --color-#{$name}: #{$value};
  }
  // Typography
  @each $type, $values in $typography {
    @each $name, $value in $values {
      --#{$type}-#{$name}: #{$value};
    }
  }
  // Responsive Typography
  @each $type, $sizes in $responsive-typography {
    @each $breakpoint, $values in $sizes {
      @each $name, $value in $values {
        --#{$type}-#{$breakpoint}-#{$name}: #{$value};
      }
    }
  }
}
