// Contains variables, config switches, and other project-wide settings.

// Colors
$colors: (
        'primary': red,
        'bg-primary': green,
);

// Typography
$typography: (
        'font': (
                'primary': 'Crimson Text, serif',
                'secondary': 'Josefin Sans, sans'
        ),
        'style': (
                'primary': normal
        ),
        'weight': (
                'title': 400,
        ),
        'size': (
                'title': 30px,
        ),
        'line-height': (
                'title': 20px,
        )
);

// Responsive Typography
$breakpoint-suffixes: ('sm', 'md', 'lg', 'xl', 'xxl');
$responsive-typography: (
        'size': (
                'lg': (
                        'title': 80px,
                ),
        ),
        'line-height': (
                'lg': (
                        'title': 100%,
                ),
        )
);

// Breakpoints (using Bootstrap's default breakpoints)
$breakpoints: (
        'sm': 576px,
        'md': 768px,
        'lg': 992px,
        'xl': 1200px,
        'xxl': 1400px,
        '3xl': 1700px
);

// Container Padding
$container-padding: 0 15px;

// Header
:root {
  --header-height: 0px; // Default
  // Colors
  @each $name, $value in $colors {
    --color-#{$name}: #{$value};
  }
  // Typography
  @each $type, $values in $typography {
    @each $name, $value in $values {
      --#{$type}-#{$name}: #{$value};
    }
  }
  // Responsive Typography
  @each $type, $sizes in $responsive-typography {
    @each $breakpoint, $values in $sizes {
      @each $name, $value in $values {
        --#{$type}-#{$breakpoint}-#{$name}: #{$value};
      }
    }
  }
}
